@{
    ViewBag.Title = "Index";
    Layout = "~/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div>
                    <br /><br />
                    <h3 class="card-title" style="margin-left:660px;">Stok Takip Sistemi</h3>
                    <br />
                </div>
            </div>
            <div class="card-body">
                <div class="table-success col-md-8" style="margin-left:230px;">
                    <h6>*Ham madde gramajları bir ekmek yapabilicek şekilde paketlenmiştir.</h6>
                </div>
                <br />
                <div class="table table-bordered border-dark col-md-8" style="margin-left:230px;">
                    <table id="MaterialList" class="table table-success table-striped">
                        <thead>
                            <tr>
                                <th>Flour Packet Count</th>
                                <th>Water Packet Count</th>
                                <th>Salt Packet Count</th>
                                <th>Yeast Packet Count</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <br />
                <div class="table table-bordered border-dark col-md-8" style="margin-left: 230px;">
                    <table id="ProductList" class="table table-success table-striped">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Product Stock Count</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <br />
                <button style="margin-left:230px;" onclick="GetProduct()" id="btn" class="btn btn-outline-success">Bread Made</button>
                <button style="margin-left:797px;" class="btn btn-outline-info" data-toggle="modal" data-target="#Modal1">
                    Stock Add
                </button>

                <div class="modal" id="Modal1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title"> Stock Add</h2>
                            </div>
                            <form method="post" action="/Stock/StockAdd/">
                                <div class="modal-body">
                                    <label> Flour Packet Count</label>
                                    <input type="text" name="Flour" class="form-control" />
                                    <br />
                                    <label> Water Packet Count</label>
                                    <input type="text" name="Water" class="form-control" />
                                    <br />
                                    <label> Salt Packet Count</label>
                                    <input type="text" name="Salt" class="form-control" />
                                    <br />
                                    <label>Yeast Packet Count</label>
                                    <input type="text" name="Yeast" class="form-control" />
                                    <br />
                                    <button class="btn btn-info"> Save </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
    </div>
</div>
<!-- /.col -->
<script>
    function GetProduct() {
        var t = $('#ProductList').DataTable({
            "paging": false,
            "searching": false,
            "info": false
        });
        t.destroy();
        t.rows().clear().draw(); // t tablelının satırlarını temizle alt alta eklemesini engelemek için
        $.ajax({
            url: '/Stock/ProductList', // controllerdaki metodunu çagırıyor
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                t.row.add([ // satırlarını gezip çektiğimiz verileri kaydediyoruz
                    data.Data.ProductName,
                    data.Data.ProductStock
                ]).draw(false);
            },
            error: function (data) {
                alert(data.Error);
            }
        })
    }
    function GetStock() {
        var t = $('#MaterialList').DataTable({
            "paging": false,
            "searching": false,
            "info": false
        });
        t.destroy();
        t.rows().clear().draw();
        $.ajax({
            url: '/Stock/StockList',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                t.row.add([
                    data.Data.Flour,
                    data.Data.Water,
                    data.Data.Salt,
                    data.Data.Yeast
                ]).draw(false);
            },
            error: function (data) {
                debugger;
                alert(data.Error);
            }
        });
    }
    $(document).ready(function () {
        GetProduct();//ilk çagırma sebebimizde produck adedi ilk başta eklenmiyordu. proje yüklenirken ilk bu metodumuz listelensin
        GetStock();
        $("#btn").click(function () {
            debugger;
            var t = $('#MaterialList').DataTable({
                "paging": false,
                "searching": false,
                "info": false
            });
            t.destroy();
            $.ajax({
                url: '/Stock/StockListAdd',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    GetStock();
                    GetProduct();
                    debugger;
                    if (!data.Success) {
                        alert(data.Error);
                    }
                },
                error: function (data) {
                    alert(data.Error);
                }
            })
        })
    });

</script>


