@{
    ViewBag.Title = "Index";
    Layout = "~/Shared/_Layout.cshtml";
}
<div class="table-success col-md-8"style="margin-left:180px;">
    <h6>*Hammadde gramajları bir ekmek yapabilicek şekilde paketlenmiştir.</h6>
</div>
<br />

<div class="table table-bordered border-dark col-md-8" style="margin-left:180px;">
    <table id="MaterialList" class="table table-success table-striped" >
        <thead>
            <tr>
                <th>Flour Packet Count</th>
                <th>Water Packet Count</th>
                <th>Salt Packet Count</th>
                <th>Yeast Packet Count</th>
            </tr>
        </thead>
    </table>
</div>
<br />
<div class="table table-bordered border-dark col-md-8" style="margin-left:180px;">
    <table id="ProductList" class="table table-success table-striped" >
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Stock Count</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<br />

<div  style="margin-left:180px;">
    <button onclick="GetProduct()" id="btn" style="margin-block-start: 20px;" class=" btn btn-dark">Ekmek Yap</button>
</div>


<div style="margin-left:180px;">
    <button onclick="GetProduct()" id="btn" style="margin-block-start: 20px;" class=" btn btn-dark">Stok Güncelle</button>
</div>


<script>
    function GetProduct() {
        debugger;
        var t = $('#ProductList').DataTable({
            columnDefs: [{ // hata mesajını engelemek için
                "defaultContent": "-",
                "targets": "_all"
            }]
        });
        t.destroy(); // hata mesajını engelemek için
        t.rows().clear().draw(); // t tablelının satırlarını temizle alt alta eklemesini engelemek için
        $.ajax({
            url: '/Stock/ProductList', // controllerdaki metodunu çagırıyor
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                debugger;//gelen datayı ön yüzde incele yaparak gelen datayı gördük bu şekilde isimlerin nasıl yazılıması gerektiğini gördük
                $.each(data, function (index, data) { // freach işlemi yaparak productlist tablosunu dolduruyoruz
                    t.row.add([ // satırlarını gezip çektiğimiz verileri kaydediyoruz
                        data.ProductName,
                        data.ProductStock
                    ]).draw(false);
                });
            }
        })
    }
    $(document).ready(function () {
        GetProduct();//ilk çagırma sebebimizde produck adedi ilk başta eklenmiyordu. proje yüklenirken ilk bu metodumuz listelensin
        var t = $('#MaterialList').DataTable({ // sayfa yüklenirken material tablamuz yani stoklarımız yüklensin diye
            columnDefs: [{
                "defaultContent": "-",
                "targets": "_all"
            }],
        });
        t.destroy();
        t.rows().clear().draw();
        $.ajax({
            url: '/Stock/StockList',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $.each(data, function (index, data) {
                    t.row.add([
                        data.Flour,
                        data.Water,
                        data.Salt,
                        data.Yeast
                    ]).draw(false);
                });
            }
        });
        $("#btn").click(function () {
            debugger;
            var t = $('#MaterialList').DataTable({
                columnDefs: [{
                    "defaultContent": "-",
                    "targets": "_all"
                }]
            });
            t.destroy();
            t.rows().clear().draw();
            $.ajax({
                url: '/Stock/StockListAdd',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    GetProduct();
                    $.each(data, function (index, data) {
                        t.row.add([
                            data.Flour,
                            data.Water,
                            data.Salt,
                            data.Yeast
                        ]).draw(false);
                    });
                }
            })
        })
    });

</script>


